@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic");

body {
    padding-top: 0px; /* reset in bootswatch custom.min */
}
.watermark {
    position: fixed;
    opacity: 0.25;
    Xfont-size: 6vw;
    font-size: 30pt;
    
	z-index: 6000;
    text-align: center;
    left:0;
    right:0;
    margin-top:40%;
    margin-left:auto;
    margin-right:auto;
    
    transform: rotate(-45deg);
    display:none;
}

/* Intro max height */
.panel.panel-max32
{
	border:1px solid red;
	Xmin-height: 32vh;
}
.panel.panel-max44
{
	border:1px solid red;
	Xmin-height: 44vh;
}

.panel .fa.second
{
 color: white;
}


/* Colours */
.bg-Black
{
 background-color:black;
}

.fg-Silver
{
 color:silver;
}

.bg-Silver
{
 background-color:silver;
}

.fg-white,
.navbar,
.navbar-logo,
.navbar-logo a
{
 color:white;
}


.fg-dkRed
{
 color:#9A1A32;
}

.bg-dkRed,
body>.navbar
{
 background-color:#9A1A32;

}

body>.navbar
{
	min-height: 70px;
 	Xheight: 10vw;
 	
}

#topfix.container
{
	margin-top:70px; /* Same as navbar */
	XXmargin-top:8vw;
	XXborder:1px solid lime;
	XXmin-height:100%;
}

#intro
{
	XXmargin-top:0vw;
}

.full-page
{
		XXmin-height: 80vh;
		XXborder:1px solid orange;
		Xmargin-top:28vw;
}

.navbar-logo
{
	height:auto;
	position:fixed;
	z-index:2030;
	top:0;	
}
.navbar-logo img
{
	Xwidth: 28vw;
	width: 20%;
	float:left;
}
.navbar-logo div
{
	Xfont-size: 3.0vw;
	padding-top: 8.5px;
	float:left;
}
.container > .navbar-header
{
	
	Xmargin-left: 15vw;
}

.
{
background-size:     cover;
}

.strap
{
	font-size:65%;
}

.strap,
.Orbitron 
{
 font-family: 'Orbitron', serif;
}

 body
 {font-size: 14px;}


@media screen and (max-width: 568px) {
body {
    XXcolor:lime;
    font-size: 20px
    }
}

 /* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
       http://stackoverflow.com/questions/13550541/media-min-width-max-width
    */
@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
    
body {
    XXcolor: purple;
    Xfont-size: 2.0vw
    }
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
    
body {
    XXcolor: red;
    Xfont-size: 1.0vw;
    }
.container {
    width: 80%;
  }
    
}
@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
body {
    color: fuchsia;
    Xfont-size: 1.4vw;
    }
.container {
    width: 80%;
  }
}
@media only screen and (max-device-width:480px){
   /* styles for mobile browsers smaller than 480px; (iPhone) */
   body {
    XXcolor:lime;
    font-size: 20px
    }
   
}
@media only screen and (device-width:768px){
   /* default iPad screens */
   body {
    XXcolor: blue;
    font-size: 20px
    }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  body {
    XXcolor: green;
    Xfont-size: 2.4vw;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  
  body {
    XXcolor: sandybrown;
    Xfont-size: 1.5vw;
    }
.container {
    width: 100%;
  }
}

 h6,.h6,
 p,
 blockquote
 {
 font-size: 100%;
 }
 
 h5,.h5,
 .lead 
 {
 font-size: 120%;
 }
h4,.h4
 {
 font-size: 130%;
 }
h3,.h3
 {
 font-size: 140%;
 }
h2,.h2
 {
 font-size: 150%;
 }
h1,.h1
 {
 font-size: 175%;
 }
 
 _h2,
._h2 {
  font-size: 125%;
}